/**
 * SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
 * SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

.banner {
  width: 100%;
  background-image: linear-gradient(to top, rgba(23, 24, 32, 0.7), rgba(23, 24, 32, 0.7)), url(/img/kstars_main.png);
  background-position: center;
  background-size: cover;

  @media(min-width: 768px) {
    height: 500px;
  }

  @media(min-width: 1100px) {
    height: 700px;
  }
}

.download-icons {
  background-color: #adb5bd88;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature > div {
  padding: 20px;
}

.feature > div:first-child {
  flex-basis: 25%;
}

.feature > div:last-child {
  flex-basis: 75%;
}

@media (min-width: 800px) {
  .feature {
    flex-direction: row;
  }
  section:nth-child(2n + 1) > .feature > div:first-child {
    order: 1;
  }
  section:nth-child(2n + 1) > .feature > div:last-child {
    order: 0;
  }
}

.feature-img {
  max-width: 900px;
  
  @media (max-width: 540px) {
    max-width: 100%;
  }
}
