{{/*
SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{ define "head-import" }}
{{ $style := resources.Get "scss/download.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "main" }}
<main class="container">
  {{ with .Params.konqi }}
  <img src="{{ . }}" alt="" class="konqi">
  {{ end }}

  <h1>{{ .Title }}</h1>
  
  {{ $latestRelease := .Site.Data.releases.latest }}
  <p>
    {{ $date := partial "fn/i18n_time" (dict "time" (time $latestRelease.date) "format" (i18n "date-format")) }}
    {{ partial "fn/i18n_args" (slice "download.intro" $latestRelease.version $date) }} | <a href={{ $latestRelease.release_notes }}>{{ i18n "release-notes" }}</a>
  </p>

  <table class="distribution-table">
    <!-- Windows -->
    <tr class="title-row">
      <td rowspan="2" class="text-center">
        <img src="/reusable-assets/windows.svg" alt="{{ i18n "windows" }}">
      </td>
      <th class="ps-2">{{ i18n "windows" }}</th>
    </tr>
    <tr>
      <td class="px-2">
        {{ partial "fn/i18n_args" (slice "download.windows" $latestRelease.version $latestRelease.windows) | markdownify }} - {{ partial "fn/i18n_args" (slice "download.sha256-link" $latestRelease.windows_hash) | markdownify }}<br>
        {{ partial "fn/i18n_args" (slice "download.windows.guide" "https://sourceforge.net/projects/quickhash/") | markdownify }}
      </td>
    </tr>
    <!-- macOS -->
    <tr class="title-row">
      <td rowspan="2" class="text-center">
        <img src="/reusable-assets/macos.svg" alt="{{ i18n "macos" }}">
      </td>
      <th class="ps-2">{{ i18n "macos" }}</th>
    </tr>
    <tr>
      <td class="px-2">
        {{ partial "fn/i18n_args" (slice "download.macos" $latestRelease.version $latestRelease.macos $latestRelease.macos_spec) | markdownify }} - {{ partial "fn/i18n_args" (slice "download.sha256-link" $latestRelease.macos_hash) | markdownify }}<br>
        {{ i18n "download.macos.guide" }}
      </td>
    </tr>
    <!-- Linux -->
    <tr class="title-row">
      <td rowspan="2" class="text-center">
        <img src="/reusable-assets/tux.png" alt="{{ i18n "linux" }}">
      </td>
      <th class="ps-2">{{ i18n "linux" }}</th>
    </tr>
    <tr>
      <td class="px-2">{{ i18n "download.appstream" | markdownify }}<br>
      {{ i18n "download.ubuntu" }}
        <pre>sudo apt-add-repository ppa:mutlaqja/ppa
sudo apt-get update
sudo apt-get install indi-full kstars-bleeding</pre>
      </td>
    </tr>
    <!-- Flatpak -->
    <tr class="title-row">
      <td rowspan="2" class="text-center">
        <img src="/reusable-assets/flatpak.png" alt="{{ i18n "download.flatpak.title" }}">
      </td>
      <th class="ps-2">{{ i18n "download.flatpak.title" }}</th>
    </tr>
    <tr>
      <td class="px-2">
        {{ i18n "download.flatpak.flathub" }}
        <pre>flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo</pre>
        {{ i18n "download.flatpak" }}
        <pre>flatpak install flathub org.kde.kstars</pre>
      </td>
    </tr>
    <!-- Snap -->
    <!--<tr class="title-row">
      <td rowspan="2" class="text-center">
        <img src="/reusable-assets/snapcraft.svg" alt="{{ i18n "snap" }}">
      </td>
      <th class="ps-2">{{ i18n "snap" }}</th>
    </tr>
    <tr>
      <td class="px-2">
        {{ partial "fn/i18n_args" (slice "download.snap" "https://snapcraft.io/kstars") | markdownify }}
      </td>
    </tr>-->
    <!-- Source -->
    <tr class="title-row">
      <td rowspan="2" class="text-center">
        <img src="/reusable-assets/ark.svg" alt="{{ i18n "download.source.title" }}">
      </td>
      <th class="ps-2">{{ i18n "download.source.title" }}</th>
    </tr>
    <tr>
      <td class="px-2">
        <a href="{{ $latestRelease.source }}">{{ i18n "download.source.tarball" }}</a> - <a href="{{ $latestRelease.mirror_list }}">{{ i18n "download.source.mirror-list" }}</a><br>
        {{ partial "fn/i18n_args" (slice "download.source.detail" "https://techbase.kde.org/Projects/Edu/KStars/Building_KStars_KF5") | markdownify }}
      </td>
    </tr>
  </table>

  <h2>{{ i18n "download.install" }}</h2>
  {{- $strName := print "download.install.platform" (cond (isset .Params "components") ".components" "") }}
  <p>{{ partial "fn/i18n_args" (slice $strName .Params.name) | markdownify }}</p>
  <p>{{ partial "fn/i18n_args" (slice "download.install.linux" .Params.name) }}</p>
  {{- $strName = print "download.install.modular" (cond (isset .Params "components") ".components" "") }}
  {{- if (i18n $strName) }}
  <p>{{ partial "fn/i18n_args" (slice $strName .Params.name) }}</p>
  {{- end }}

  <h2>{{ i18n "download.uninstall" }}</h2>
  {{- $strName = print "download.uninstall.instruction" (cond (isset .Params "components") ".components" "") }}
  <p>{{ partial "fn/i18n_args" (slice $strName .Params.name) }}</p>
</main>
{{ end }}
