{{/*
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{ define "head-import" }}
{{ $style := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "main" }}
{{ $latestRelease := .Site.Data.releases.latest }}
{{ $releaseDate := partial "fn/i18n_time" (dict "time" (time $latestRelease.date) "format" (i18n "date-format")) }}
<section class="banner d-flex justify-content-center align-items-center">
  <div class="text-white text-end p-1">
    <h1>{{ i18n "displayed-title" }}</h1>
    <p>{{ partial "fn/i18n_args" (slice "home.download" $latestRelease.version $releaseDate) | markdownify }}</p>
    <p><a href="{{ $latestRelease.release_notes }}">{{ i18n "release-notes" }}</a></p>
    <div class="d-flex mb-4 align-items-center justify-content-center download-icons">
      <a href="{{ $latestRelease.windows }}">
        <img alt="{{ i18n "windows" }}" src="/reusable-assets/windows.svg" class="img-fluid mx-3" width="64" />
      </a>
      <a href="{{ $latestRelease.macos }}">
        <img alt="{{ i18n "macos" }}" src="/reusable-assets/macos.svg" class="img-fluid mx-3" width="64" />
      </a>
      <a href="appstream://org.kde.kstars.desktop">
        <img alt="{{ i18n "linux" }}" src="/reusable-assets/tux.png" class="img-fluid mx-3" width="64" />
      </a>
    </div>
    <a href="/download" class="learn-more">{{ i18n "home.download.other" }}</a>
  </div>
</section>

<main aria-label="Content" id="content">
  <section class="py-5 mt-0">
    <div class="container text-center">
      <h2>{{ .Site.Params.description }}</h2>
    </div>
  </section>
  
  <div class="container">
    <p>{{ i18n "home.features" | markdownify }}</p>
  </div>

  {{- $colorClasses := slice "section-blue" "section-orange" "" "section-green" "section-red" }}
  {{- range $idx, $val := .Params.features }}
  <section class="{{ index $colorClasses $idx }} mt-0">
    <div class="container feature">
      <div>
        <p>{{ $val.desc }}</p>
      </div>
      <div>
        <picture class="img-fluid{{ if eq (mod $idx 2) 1 }} float-end{{ end }}">
          <img src="{{ $val.url }}" alt="" class="feature-img">
        </picture>
      </div>
    </div>
  </section>
  {{- end }}
</main>
{{ end }}
